venv/
.DS_Store
# Bases de datos
*.db
*.sqlite3

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv_legacy/
# Caché de Python y Entornos Virtuales
__pycache__/
*.py[cod]
venv_legacy/
venv/
env/

# Next.js y Node
frontend/.next/
frontend/node_modules/
